body {
    background-color: lightcyan;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    color: #3D5A80;
   }

   .container > header {
    padding: 20px;
    display: flex;
    color: #E0FBFC;
    background-color: #98C1D9;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    font-family: cursive;
}

nav a {
    margin-left: 8px;
    Color: #E0FBFC;
    font-size: 30px;
    text-decoration: underline;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: #EE6C4D;
    padding: 20px;
    font-size: 25px;
    line-height: 48px;
}
section h2 {
    font-size: 25px;
    color: #293241;
}

h3 {
    color: #EE6C4D
}
.about-detail {
    display: flex;
    align-items: flex-start;
}

.about-detail img {
    margin-right: 16px;
    margin-bottom: 16px;
    width: 200px;
}
#work {
    display: flex;
    flex-wrap: wrap;
}


article {
    width: 50%;
    padding: 20px;
}

.feature {
    width: 75%;
}
footer{ 
    padding: 20px;
    display: flex;
    color: #E0FBFC;
    background-color: #98C1D9;
    justify-content: space-between;
}
footer a {
    margin-left: 8px;
    Color: #E0FBFC;
    font-size: 20px;
}

footer h2 {
    color: #E0FBFC;
    font-size: 30px;
}